body
        { 
        background-image: url(../img/background.png);
        background-size: repeat;  
        }

*       {
        font-family: 'Maven Pro', sans-serif;
        font-size: 16px;
        }

.error 
        {
        background-color:#ED4337;
        height: 40px;
        width: 30%;
        margin-left: 35%;
        display: none;
        border-radius: 10px;
        }   

.error p
        {
        font-weight: bold;
        position: relative;
        text-align: center;
        top: 25%;
        }

.error img
        {
        width: 22px;
        height: 22px;
        margin-left: 2%;
        margin-top:8px;
        display: inline;
        position: absolute;
        }

#logo  { 
        height: 137px; 
        width: 300px;
        margin-top: 1%;
        }

#form {
        color:#FF9900;  
        font-weight:bolder;
        text-align: center;
        }

.loginform  {
        background-color:rgba(50, 74, 40, 1);
        margin: 2% 40% 1% 40% ;
        border: solid 2px grey;
        border-radius: 6px;
        }  

input[type="text"] 
        {
        padding: 5px 0px;
        margin-bottom: 14px;
        border: solid 1px #dcdcdc;
        transition: box-shadow 0.3s, border 0.3s;
        border-radius: 4px;
        outline: none;
        text-align:center;
        }

input[type="text"].focus 
        {
        border: solid 1px #FF9900;
        box-shadow: 0 0 5px 1px #FF9900;
        }

.send-button 
        {
        position: relative;
        display: inline-block;
        text-align: center;
        }
.send-button button 
        {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 120px;
        height: 40px;
        border: 2px solid #FF9900;
        border-radius: 40px;
        background: #FF9900;
        color: #FFF;
        letter-spacing: 1px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
        transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
        margin-bottom: 25px;
        cursor:pointer;
        }
    
.send-button button:hover 
        {
        background-color: #FFF;
        color: #FF9900;
        }
.send-button button:focus
        {
        outline: none;
        }

/* RESPONSIVE */

@media screen and (min-width: 2px) and (max-width : 299px){
.loginform  
        {
        margin: 4% 2.5% 1% 2.5%;
        
        }
#logo  
        { 
        height: 100px; 
        width: 220px;
        margin-top: 1%;
        }
.error 
        {
        height: 38px;
        width: 90%;
        margin-left: 5%;
        }   
.error p
        {
        font-size: 14px;
        }
.error img
        {
        margin-left: 4%;
        }   
} 
 
@media screen and (min-width: 300px) and (max-width : 399px){
.loginform  
        {
        margin: 6% 10% 1% 10% ;
        }
#logo  
        { 
        height: 100px; 
        width: 220px;
        margin-top: 1%;
        }
.error 
        {
        height: 38px;
        width: 80%;
        margin-left: 10%;
        }   
.error p
        {
        font-size: 14px;
        }
.error img
        {
        margin-left: 4%;
        }   
} 

@media only screen and (min-width : 401px) and (max-width:598px){
.loginform  
        {
        margin: 3% 22% 1% 22% ; 
        }
}

@media only screen and (min-width : 600px) and (max-width:768px) {
.loginform  
        {
        margin: 3% 27% 1% 27% ;
        }
#logo   
        { 
        height: 118px; 
        width: 260px;
        margin-top: 1%;
        }
.error  
        {
        height: 38px;
        width: 55%;
        margin-left: 22%;
        }   
.error img
        {
        margin-left: 4%;   
        }
}

@media only screen and (min-width : 769px) and (max-width :990px){
.loginform  
        {
        margin: 3% 29% 1% 29% ;
        }
#logo   
        { 
        height: 118px; 
        width: 260px;
        margin-top: 1%;
        }
.error  
        {
        height: 38px;
        width: 55%;
        margin-left: 22%;
        }   
.error img
        {
        margin-left: 4%;   
        }
}

@media only screen and (min-width : 992px) and (max-width : 1199px){
.loginform  
        {
        margin: 3% 33% 1% 33% ;
        }
#logo  
        { 
        height: 130px; 
        width: 283px;
        margin-top: 2%;
        }
.error     
        {
        height: 38px;
        width: 45%;
        margin-left: 28%;
        }   
.error img
        {
        margin-left: 4%;   
        }
}

@media only screen and (min-width : 1200px) {
.loginform  
        {
        margin: 2% 36% 1% 36% ;
        }
}

@media only screen and (min-width : 1500px) {
.loginform  
        {
        margin: 3% 38% 1% 38% ;
        }
}

@media only screen and (min-width : 1700px) {
.loginform  
        {
        margin: 3% 40% 1% 40% ;
        }
}


